<div class="container main-container">
  <div class="card animated fadeIn fast">
    <!--<div class="card-header">-->
      <!--<h1 class="animated fadeIn">Sobre Comic App</h1>-->
    <!--</div>-->
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p class="animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ducimus eligendi fugiat itaque modi mollitia odit quas quibusdam rem sit soluta temporibus, vel vero? Architecto earum id impedit omnis voluptates.</p>
      </blockquote>
    </div>
  </div>
</div>
