<div class="container main-container">
  <!-- Searching message -->
  <div class="card animated fadeIn fast">
    <div class="row">
      <div class="col-md-4 text-center">
        <h1 class="animated fadeIn fast align-items-center m-0 pt-1">
          Searching: <small> {{ text }} </small>
        </h1>
      </div>
    </div>
  </div>>
  <!-- No result message -->
  <div class="row animated fadeIn" *ngIf="heroes.length === 0">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        There are no results with the term {{ text }}
      </div>
    </div>
  </div>
  <!-- Cards with the result of the search -->
  <div class="card-columns">
    <app-card-heroe  [heroe]="heroe"
                     [index]="i"
                     *ngFor="let heroe of heroes;"></app-card-heroe>
  </div>
</div>
